@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fixedMenu {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showTab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes jelly {
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
@keyframes infin-box {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    background-color: red;
  }
  29% {
    opacity: 1;
    background-color: red;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes header-off1 {
  0% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 0;
    transform: rotate(0);
  }
}
@keyframes header-off2 {
  0% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
}
@keyframes header-on1 {
  0% {
    margin: 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
}
@keyframes header-on2 {
  0% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
}
@keyframes header-off0 {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes header-on0 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes header-button-off0 {
  0% {
    left: 0%;
    opacity: 1;
  }
  65% {
    left: 0%;
    opacity: 1;
  }
  80% {
    left: 100%;
    opacity: 0;
  }
  85% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@keyframes home-loader-off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes home-loader-on0 {
  0% {
    stroke-dasharray: 0 300%;
  }
  100% {
    stroke-dasharray: 195% 300%;
  }
}
@media screen and (min-width: 1281px) {
  .index #mainvisual .visual-contact {
    right: calc((100vw - 1440px) / -2);
  }
}
@media screen and (min-width: 751px) {
  .sp {
    display: none !important;
  }

  [href^=tel] {
    pointer-events: none;
  }

  .scroll-top:hover {
    background-color: #37a168;
  }

  .menu-list > li:hover > a,
.menu-list > li:hover > span {
    color: #37a168;
  }

  .dropdown:hover > .sub-menu {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .sub-menu {
    transition: all 0.3s ease;
    transform: translateY(0);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  .sub-menu a:hover, .sub-menu span:hover {
    color: #fff;
    background-color: #37a168;
  }
  .sub-menu a:hover::before, .sub-menu span:hover::before {
    filter: brightness(0) invert(1);
  }
}
/* end screen-min:751px */
@media screen and (min-width: 751px) and (max-width: 1600px) {
  .index #mainvisual .visual-img {
    transform: scale(0.8);
    margin-right: 35px;
    transform-origin: right;
  }
  .index #mainvisual .visual-title {
    font-size: 80px;
  }
  .index #mainvisual .visual-label {
    font-size: 26px;
  }

  .business .busi-list {
    margin-right: 15px;
  }
  .business .busi-txt {
    padding-left: 30px;
  }

  .feature .feat-bf {
    left: -60px;
  }
  .feature .feat-img {
    width: 1150px;
  }
  .feature .feat-img img {
    height: auto;
  }

  .recruit .rec-txt {
    width: 640px;
    padding: 85px 60px;
    left: 0;
  }
  .recruit .rec-ig {
    margin-right: -90px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1280px) {
  .sonic .sonic-title::after {
    width: 640px;
    left: -40px;
  }

  .feature .feat-bf {
    font-size: 60px;
  }
  .feature .feat-bf::before {
    height: 470px;
  }
  .feature .feat-text {
    right: 40px;
  }

  .recruit .rec-txt {
    width: 600px;
    padding: 60px 40px;
    top: 90px;
  }
  .recruit .rec-desc {
    margin-bottom: 50px;
  }
  .recruit .rec-ig {
    margin-right: -190px;
  }
  .recruit .rec-ig img {
    width: 1200px;
    height: auto;
    max-width: 100%;
  }
}
/* end screen-min:751px && screen-max:1500px */
@media screen and (max-width: 1440px) {
  .menu-list {
    column-gap: 30px;
  }
}
@media screen and (max-width: 750px) {
  #wrapper {
    min-width: unset !important;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .pc {
    display: none !important;
  }

  .open-nav .header-menu {
    top: 100px;
  }

  .hamburger-btn {
    display: block;
  }

  .header-menu {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: all 0.3s ease;
    z-index: 99;
    background-color: rgba(30, 44, 99, 0.7);
    background-color: #fff;
  }

  .menu-list {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 100px);
  }
  .menu-list > li > a,
.menu-list > li > span {
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
    display: block;
    position: relative;
  }

  .dropdown .open::before {
    transform: scale(-1);
  }
  .dropdown span::before {
    content: "";
    right: 15px;
    top: calc(50% - 4px);
  }

  .sub-menu {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    display: none;
    padding: 10px 20px;
  }
  .sub-menu a, .sub-menu span {
    padding: 10px;
    position: relative;
    font-size: 14px;
  }
  .sub-menu .sub-menu a {
    padding-left: 30px;
  }
  .sub-menu .sub-menu .sub-menu a {
    padding-left: 40px;
  }
}
/* end screen-max:750px */
/* end screen-max:640px */
/* end screen-max:560px */
/* end screen-max:520px */
/* end screen-max:475px */
/* end screen-max:425px */
/* end screen-max:375px */
/* end screen-max:320px */
/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */

/*# sourceMappingURL=responsive.css.map */
