@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fixedMenu {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showTab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes jelly {
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
@keyframes infin-box {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    background-color: red;
  }
  29% {
    opacity: 1;
    background-color: red;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes header-off1 {
  0% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 0;
    transform: rotate(0);
  }
}
@keyframes header-off2 {
  0% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
}
@keyframes header-on1 {
  0% {
    margin: 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
}
@keyframes header-on2 {
  0% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
}
@keyframes header-off0 {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes header-on0 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes header-button-off0 {
  0% {
    left: 0%;
    opacity: 1;
  }
  65% {
    left: 0%;
    opacity: 1;
  }
  80% {
    left: 100%;
    opacity: 0;
  }
  85% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@keyframes home-loader-off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes home-loader-on0 {
  0% {
    stroke-dasharray: 0 300%;
  }
  100% {
    stroke-dasharray: 195% 300%;
  }
}
@keyframes scale1 {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ani1 {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@media screen and (min-width: 1921px) {
  .index #mainvisual .visual-contact {
    right: calc((1920px - 100%) / -2);
  }

  .feature .feat-text {
    right: calc((1920px - 1198px) / 2);
  }
}
@media screen and (min-width: 751px) {
  .sp {
    display: none !important;
  }

  [href^=tel] {
    pointer-events: none;
  }

  .scroll-top:hover {
    background-color: #37a168;
  }

  #main {
    margin-top: 80px;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  #header.--fix {
    background-color: #37a168;
    color: #fff;
  }
  #header.--fix h1 {
    color: #fff;
  }
  #header.--fix .logo {
    filter: brightness(0) invert(1);
  }
  #header.--fix .menu-list-pc > li:hover > a,
#header.--fix .menu-list-pc > li:hover > span {
    color: #333;
  }
  #header.--fix .menu-list-pc > li:hover > a::before,
#header.--fix .menu-list-pc > li:hover > span::before {
    filter: none;
  }
  #header.--fix .dropdown-pc span::before {
    filter: brightness(0) invert(1);
  }
  #header.--fix .sub-menu-pc {
    color: #333;
  }
  #header.--fix .sub-menu-pc a:hover,
#header.--fix .sub-menu-pc span:hover {
    color: #fff;
    background-color: rgba(20, 117, 70, 0.6);
  }
  #header.--fix .sub-menu-pc a:hover::before,
#header.--fix .sub-menu-pc span:hover::before {
    filter: brightness(0) invert(1);
  }
}
/* end screen-min:751px */
@media screen and (min-width: 751px) and (max-width: 1600px) {
  .index #mainvisual .visual-img {
    transform: scale(0.8);
    margin-right: 35px;
    transform-origin: right;
  }
  .index #mainvisual .visual-title {
    font-size: 80px;
  }
  .index #mainvisual .visual-label {
    font-size: 26px;
  }
  .index #mainvisual .v-contact-wrap {
    width: 420px;
  }
  .index #mainvisual .visual-contact {
    bottom: 68px;
  }

  .business .busi-txt {
    padding-left: 30px;
    padding-right: 15px;
  }

  .feature .feat-bf {
    left: -60px;
  }
  .feature .feat-img {
    width: 1150px;
  }
  .feature .feat-img img {
    height: auto;
  }

  .recruit .rec-txt {
    width: 640px;
    padding: 85px 60px;
    left: 0;
  }
  .recruit .rec-ig {
    margin-right: -90px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1280px) {
  .feature .feat-bf {
    font-size: 60px;
  }
  .feature .feat-bf::before {
    height: 470px;
  }
  .feature .feat-text {
    right: 40px;
  }

  .recruit .rec-txt {
    width: 600px;
    padding: 60px 40px;
    top: 90px;
  }
  .recruit .rec-desc {
    margin-bottom: 50px;
  }
  .recruit .rec-ig {
    margin-right: -190px;
  }
  .recruit .rec-ig img {
    width: 1200px;
    height: auto;
    max-width: 100%;
  }
}
/* end screen-min:751px && screen-max:1500px */
@media screen and (max-width: 1440px) {
  .menu-list-pc {
    column-gap: 30px;
  }

  .index #mainvisual .visual-contact {
    right: -15px;
  }
}
@media screen and (max-width: 750px) {
  #wrapper {
    min-width: unset !important;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .pc {
    display: none !important;
  }

  .open-nav .header-menu {
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), width 0s, padding-left 0s;
    width: 72%;
    transform: translateX(0);
  }
  .open-nav .overplay {
    opacity: 1;
    visibility: visible;
  }

  .hamburger-btn {
    display: block;
  }

  #header {
    height: 70px;
  }
  #header h1 {
    width: 200px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #header .logo {
    transform: none;
  }

  .header-menu {
    position: fixed;
    top: 0;
    right: 0%;
    width: 0%;
    height: 100%;
    text-align: left;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), width 0s 0.6s, padding-left 0s 0.6s;
    z-index: 101;
    background-color: rgba(30, 44, 99, 0.7);
    background-color: #fff;
    padding-top: 70px;
  }

  .overplay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
  }

  .menu-list {
    position: relative;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 70px);
  }

  .dropdown .mu-hd {
    padding: 25px 20px;
    padding-right: 50px;
    transition: all 0.3s ease;
    position: relative;
    border-top: 1px solid #ccc;
  }
  .dropdown .mu-hd::before, .dropdown .mu-hd::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    width: 15px;
    height: 3px;
    background-color: #000;
    border-radius: 0.5px;
    transition: all 0.3s ease;
  }
  .dropdown .mu-hd::before {
    transform: translateY(-50%);
  }
  .dropdown .mu-hd::after {
    transform: translateY(-50%) rotate(90deg);
  }
  .dropdown .mu-lk {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dropdown .mu-en {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 300;
  }
  .dropdown .open::before {
    opacity: 0;
    transform: translateY(-50%) rotate(-90deg);
  }
  .dropdown .open::after {
    transform: rotate(0deg);
  }

  .sub-menu {
    width: 100%;
    display: none;
    padding: 0 20px;
  }
  .sub-menu a {
    display: block;
    padding: 0 10px 24px 10px;
    font-weight: 400;
    position: relative;
  }
  .sub-menu.sbm .mu-tam {
    padding-left: 10px;
    letter-spacing: -1px;
  }
  .sub-menu.sbm .mu-email {
    padding-left: 6px;
    letter-spacing: -2px;
  }
  .sub-menu .mu-tam::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 6px;
    border-color: transparent transparent transparent #333333;
    margin-right: 5px;
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }
  .sub-menu .mu-email::before {
    content: "";
    display: inline-block;
    background-image: url("../images/svg/ic-email.svg");
    background-size: cover;
    width: 12px;
    height: 8px;
    margin-right: 6px;
    transform: translateY(-1px);
    transition: all 0.3s ease;
  }

  .sonic {
    padding: 50px 0 80px;
  }
  .sonic::before {
    display: none;
  }
  .sonic .sonic-sld {
    margin: 0 -15px;
  }
  .sonic .sonic-slider {
    margin: -20px;
  }
  .sonic .sonic-box {
    margin: 20px;
    line-height: 1;
  }
  .sonic .sonic-box img {
    width: 300px;
  }
  .sonic .sonic-desc {
    padding-left: 0%;
  }
  .sonic .sonic-lk {
    margin-right: 0;
  }
  .sonic .sonic-txt {
    flex-wrap: wrap;
  }
  .sonic .sonic-title {
    width: 75%;
    margin: 0 0 -125px auto;
    z-index: 2;
    justify-content: flex-start;
    padding: 0 30px 0;
  }
  .sonic .sonic-title .sonic-bg {
    font-size: 50px;
  }
  .sonic .sonic-title .sonic-sm {
    font-size: 16px;
    margin: 0 10px 10px 0;
  }
  .sonic .sonic-title .sonic-sm::before {
    right: 60px;
  }
  .sonic .sonic-text {
    width: 75%;
    height: auto;
    padding: 100px 30px 40px;
  }
  .sonic .sonic-tt {
    font-size: 22px;
  }
  .sonic .sonic-label {
    font-size: 17px;
  }

  .business .business-wrapper {
    flex-wrap: wrap;
  }
  .business .line {
    width: 100%;
  }
  .business .busi-info {
    width: 100%;
    padding: 120px 15px 80px;
  }
  .business .busi-txt {
    width: 100%;
    padding: 30px;
  }
  .business .busi-title {
    margin-bottom: 40px;
  }
  .business .busi-title .busi-en {
    font-size: 50px;
  }
  .business .busi-title .busi-jp {
    font-size: 16px;
  }
  .business .busi-desc {
    margin: 0 auto 50px;
  }

  .feature {
    padding-bottom: 80px;
  }
  .feature .feat-bf {
    display: none;
  }
  .feature .feat-head {
    margin-bottom: 50px;
  }
  .feature .feat-head .feat-en {
    font-size: 50px;
  }
  .feature .feat-head .feat-jp {
    font-size: 16px;
  }
  .feature .feat-wrp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .feature .feat-img img {
    height: auto;
  }
  .feature .feat-text {
    position: static;
    transform: none;
    width: calc(100% - 30px);
    margin: -100px auto 0;
    padding: 35px;
    height: auto;
  }
  .feature .feat-tt {
    font-size: 22px;
  }
  .feature .feat-box {
    height: auto;
  }
  .feature .feat-box2 {
    flex-direction: column-reverse;
  }
  .feature .feat-box .feat-ts {
    padding: 50px 15px;
  }
  .feature .feat-box .feat-tx {
    padding: 50px 40px;
  }
  .feature .feat-col {
    width: 100%;
  }
  .feature .feat-t {
    font-size: 22px;
  }
  .feature .feat-ic {
    transform: none !important;
    margin-right: 30px;
    width: 36px;
    height: 36px;
  }
  .feature .feat-ic::before {
    width: 14px;
    height: 7px;
  }

  .recruit {
    margin: 30px 0 70px;
  }
  .recruit .rec-ig {
    height: auto;
    float: none;
  }
  .recruit .rec-ig img {
    height: auto;
  }
  .recruit .rec-ig::before {
    top: -30px;
    left: -40px;
  }
  .recruit .rec-txt {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    height: auto;
    width: 100%;
    padding: 0 60px 30px 60px;
    margin-top: -50px;
    z-index: 1;
    background-color: transparent;
  }
  .recruit .rec-head {
    background-color: #fff;
    padding-top: 100px;
    padding-left: 60px;
    margin-left: -60px;
    display: inline-block;
    width: 90%;
    min-width: 380px;
  }
  .recruit .rec-title .rec-en {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .recruit .rec-title .rec-jp {
    font-size: 18px;
  }
  .recruit .rec-label {
    font-size: 22px;
    padding-left: 0;
  }
  .recruit .rec-desc {
    margin-bottom: 50px;
    padding-left: 0;
  }
  .recruit .rec-tt {
    font-size: 16px;
  }

  .information {
    padding: 80px 0;
    border-width: 3px;
  }
  .information .imn-wrapper {
    padding: 0 15px;
  }
  .information .col {
    width: 100%;
  }
  .information .col:nth-child(1) {
    margin-bottom: 40px;
  }
  .information .col:nth-child(1)::before {
    display: none;
  }
  .information .imn-title .imn-en {
    font-size: 50px;
  }
  .information .imn-item {
    margin-bottom: 40px;
  }
  .information .imn-tell {
    font-size: 26px;
  }

  #footer .container-1200 {
    padding: 0 15px;
  }
  #footer .footer-top {
    padding: 50px 0;
  }
  #footer .col {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  #footer .col:nth-child(2), #footer .col:nth-child(3) {
    display: none;
  }
  #footer .ft-logo img {
    height: auto;
  }
}
/* end screen-max:750px */
/* end screen-max:640px */
/* end screen-max:560px */
@media screen and (max-width: 520px) {
  .btn {
    width: 200px;
    height: 54px;
  }

  .sonic {
    padding: 50px 0;
  }
  .sonic .sonic-txt {
    margin-top: -50px;
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: none;
  }
  .sonic .sonic-desc {
    margin-bottom: 20px;
  }
  .sonic .sonic-text {
    width: 100%;
    padding-top: 20px;
  }
  .sonic .sonic-title {
    width: 78%;
    margin: 0;
    background-color: #fff;
    padding: 40px 25px 0px 50px;
  }
  .sonic .sonic-title .sonic-bg {
    font-size: 36px;
  }
  .sonic .sonic-text {
    padding: 40px 25px;
    width: 100%;
  }

  .business .busi-info {
    padding: 80px 15px 50px;
  }
  .business .busi-txt {
    padding: 20px 15px;
  }
  .business .busi-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .business .busi-item dt {
    margin-bottom: 20px;
  }
  .business .busi-item .busi-tt {
    font-size: 22px;
    width: 180px;
  }
  .business .busi-item .busi-icon {
    width: 36px;
    height: 36px;
    transform: none;
  }
  .business .busi-item .busi-icon::after {
    width: 16px;
    height: 6px;
  }
  .business .busi-title {
    margin-bottom: 30px;
  }
  .business .busi-title .busi-en {
    font-size: 36px;
  }
  .business .busi-desc {
    margin-bottom: 30px;
  }

  .feature {
    padding: 80px 0 50px;
  }
  .feature .feature-wrap {
    margin-bottom: 40px;
  }
  .feature .feat-head {
    margin-bottom: 40px;
  }
  .feature .feat-head .feat-en {
    font-size: 36px;
  }
  .feature .feat-head .feat-jp {
    font-size: 16px;
  }
  .feature .feat-img img {
    min-height: 250px;
  }
  .feature .feat-box {
    margin-bottom: 40px;
  }
  .feature .feat-box .feat-tx {
    padding: 30px;
  }
  .feature .feat-box .feat-ts {
    padding: 30px 15px;
  }
  .feature .feat-t {
    font-size: 18px;
  }
  .feature .feat-ic {
    margin-right: 15px;
  }

  .recruit {
    margin: 30px 0 40px;
  }
  .recruit .rec-head {
    padding-top: 17vw;
    padding-left: 40px;
    margin-left: -40px;
  }
  .recruit .rec-title {
    margin-bottom: 17px;
  }
  .recruit .rec-title .rec-en {
    font-size: 36px;
  }
  .recruit .rec-title .rec-jp {
    font-size: 16px;
  }
  .recruit .rec-label {
    font-size: 17px;
  }
  .recruit .rec-desc {
    margin-bottom: 40px;
  }
  .recruit .rec-ig img {
    min-height: 240px;
  }
  .recruit .rec-txt {
    padding: 0 40px 30px;
  }
  .recruit .rec-list {
    margin: -10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .recruit .rec-list li {
    padding: 10px;
    width: 340px;
    max-width: 100%;
  }
  .recruit .rec-tt {
    font-size: 14px;
  }
  .recruit .rec-tt::after {
    right: 10px;
  }

  .information {
    padding: 60px 0;
  }
  .information .col:nth-child(1) {
    margin-bottom: 40px;
  }
  .information .imn-title {
    margin-bottom: 30px !important;
  }
  .information .imn-title .imn-en {
    font-size: 36px;
  }
  .information .imn-item {
    margin-bottom: 40px;
  }
  .information .imn-tell {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .information .imn-tell::before {
    margin-right: 10px;
  }
  .information .imn-contact {
    width: 200px;
    height: 54px;
  }
  .information .imn-contact span {
    font-size: 16px;
  }
  .information .btn span {
    font-size: 16px;
  }

  #footer .copyright {
    font-size: 12px;
  }

  #header h1 {
    width: 135px;
    left: 62px;
  }
  #header .logo {
    display: flex;
    align-items: center;
  }
  #header .logo img {
    width: 200px;
    height: auto;
  }
}
/* end screen-max:520px */
/* end screen-max:475px */
/* end screen-max:425px */
@media screen and (max-width: 375px) {
  #footer .ft-logo {
    margin-bottom: 30px;
  }
}
/* end screen-max:375px */
@media screen and (max-width: 320px) {
  .sonic .sonic-title {
    padding-left: 30px;
  }

  .feature .feat-t {
    font-size: 15px;
  }

  .recruit .rec-title .rec-jp {
    font-size: 14px;
  }
  .recruit .rec-label {
    font-size: 16px;
  }
  .recruit .rec-ig img {
    min-height: 200px;
  }

  #footer .ft-lst li {
    letter-spacing: 1px;
  }
}
/* end screen-max:320px */
/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */

/*# sourceMappingURL=responsive.css.map */
