@import url(../js/libs/aos/aos.css);
@import url(../js/libs/slick/slick.css);
@import url(../js/libs/slick/slick-theme.css);
@import url(../js/libs/wow/wow.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

fieldset,
img {
  border: 0;
}

img,
iframe {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  image-rendering: auto;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}

del,
ins {
  text-decoration: none;
}

ol,
ul,
li {
  list-style-type: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

abbr {
  cursor: help;
}

sup {
  vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea,
select {
  font-size: 100%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

th,
td {
  border: 1px solid #999;
  padding: 0.5em;
}

th {
  font-weight: bold;
  text-align: center;
}

caption {
  padding-bottom: 0.5em;
  text-align: right;
}

dfn {
  font-style: normal;
}

address {
  font-style: normal;
  line-height: 1;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
* {
  box-sizing: border-box;
  text-rendering: optimizespeed;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 14px;
  min-height: 100vh;
  transform-origin: all 0.3s;
  min-width: 320px;
}

body,
html {
  min-height: 100%;
  margin: auto;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.4;
  color: #333333;
  background: #fff;
  letter-spacing: 1.4px;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: #37a168;
  border-radius: 990px;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

p:last-child {
  margin-bottom: 0;
}

/*=============================G L O B A L=============================*/
#wrapper {
  max-width: 1920px;
  min-width: 1280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.container-full {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  width: 1470px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container-1200 {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.cols {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col {
  padding: 15px;
}

.img-w-100 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-h-100 img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.img-l {
  float: left;
  margin: 0 60px 20px 0;
  line-height: 0;
}

.img-r {
  float: right;
  margin: 0 0 20px 60px;
  line-height: 0;
}

.img-c {
  text-align: center;
  margin: 0 auto 33px;
  line-height: 0;
}

.lk-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ovh {
  overflow: hidden;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-overflow-scrolling: auto;
}

.wow {
  animation-duration: 2s;
}

.w30 {
  width: 30%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes recruit {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes header-off1 {
  0% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 0;
    transform: rotate(0);
  }
}
@keyframes header-off2 {
  0% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
}
@keyframes header-on1 {
  0% {
    margin: 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
}
@keyframes header-on2 {
  0% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
}
@keyframes header-off0 {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes header-on0 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes header-button-off0 {
  0% {
    left: 0%;
    opacity: 1;
  }
  65% {
    left: 0%;
    opacity: 1;
  }
  80% {
    left: 100%;
    opacity: 0;
  }
  85% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@keyframes home-loader-off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes home-loader-off1 {
  0% {
    stroke-dashoffset: 600;
    stroke: rgba(255, 255, 255, 0.25);
  }
  50% {
    stroke-dashoffset: 1166;
    stroke: rgba(230, 230, 230, 0.5);
  }
  100% {
    stroke-dashoffset: 1166;
    stroke: #e6e6e6;
  }
}
@keyframes home-loader-on0 {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 1166;
  }
}
@keyframes home-loader-on1 {
  0% {
    stroke-dashoffset: 600;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 1166;
    opacity: 1;
  }
}
@keyframes slide-af0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-af1 {
  0% {
    opacity: 0;
    transform: translate(22px, -4px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(22px, -4px) scale(1);
  }
}
@keyframes slide-off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-on0 {
  0% {
    opacity: 0;
    transform: scale(1.05, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes slide-on1 {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-off-text0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-on-text0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-on-text1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-on-num0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tt-14 {
  font-size: 14px;
}

.tt-12 {
  font-size: 12px;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.f-italic {
  font-style: italic;
}

.f-black {
  font-weight: 900;
}

.f-bold {
  font-weight: bold;
}

.f-medium {
  font-weight: 500;
}

.f-light {
  font-weight: 300;
}

.f-normal {
  font-weight: normal;
}

.mr0 {
  margin-right: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.btn {
  width: 220px;
  height: 60px;
  border: 2px solid transparent;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
}
.btn span {
  font-size: 18px;
  transition: all 0.3s ease;
}
.btn::after {
  content: "";
  width: 18px;
  height: 8px;
  background-image: url("../images/ic-right.png");
  background-size: cover;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.btn:hover::after {
  right: 3px;
}
.btn.btn-g {
  border-color: #37a168;
}
.btn.btn-g span {
  color: #37a168;
}
.btn.btn-g:hover {
  background-color: #37a168;
}
.btn.btn-g:hover span {
  color: #fff;
}
.btn.btn-g:hover::after {
  filter: brightness(0) invert(1);
}
.btn.btn-w {
  border-color: #fff;
  background-color: transparent;
}
.btn.btn-w span {
  color: #fff;
}
.btn.btn-w::after {
  filter: brightness(0) invert(1);
}
.btn.btn-w:hover {
  background-color: #fff;
}
.btn.btn-w:hover span {
  color: #37a168;
}
.btn.btn-w:hover::after {
  filter: none;
}

.hamburger-btn {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  z-index: 102;
  border-radius: 100%;
  transition: all 0.3s ease;
  display: none;
  position: fixed;
  right: 20px;
  top: 10px;
}
.hamburger-btn.ham-off .ham-bg {
  animation: header-off0 375ms ease-in-out forwards;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(1) {
  animation: header-off1 0.75s ease-in-out forwards;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(1) span span {
  animation: header-button-off0 2.5s ease-in-out 0s infinite;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(2) span span {
  animation: header-button-off0 2.5s ease-in-out 0.15s infinite;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(3) {
  animation: header-off2 0.75s ease-in-out forwards;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(3) span span {
  animation: header-button-off0 2.5s ease-in-out 0.3s infinite;
}
.hamburger-btn .ham-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #37a168;
  border-radius: 100%;
  transition: all 0.3s ease;
}
.hamburger-btn .ham-hv {
  display: block;
  width: 30px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 375ms ease-in-out 0.1875s forwards;
  opacity: 0;
}
.hamburger-btn .ham-hv div {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hamburger-btn .ham-hv div:nth-child(2) {
  margin: 8px 0 0;
}
.hamburger-btn .ham-hv div:nth-child(3) {
  margin: 16px 0 0;
}
.hamburger-btn .ham-hv div span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.hamburger-btn .ham-hv div span span {
  background: white;
  transition-duration: 375ms;
  transition-timing-function: ease-in-out;
}
.hamburger-btn .ham-hv div > span {
  background-color: rgba(55, 161, 104, 0);
}
.hamburger-btn:hover .ham-hv div:nth-child(2) > span {
  left: 25%;
}
.hamburger-btn.ham-on .ham-bg {
  animation: header-on0 375ms ease-in-out forwards;
}
.hamburger-btn.ham-on .ham-hv {
  opacity: 0;
}
.hamburger-btn.ham-on .ham-hv div > span {
  background-color: #37a168;
}
.hamburger-btn.ham-on .ham-hv div span span {
  background-color: rgba(255, 255, 255, 0);
}
.hamburger-btn.ham-on .ham-hv div:nth-child(1) {
  animation: header-on1 0.75s ease-in-out forwards;
}
.hamburger-btn.ham-on .ham-hv div:nth-child(2) {
  opacity: 0;
}
.hamburger-btn.ham-on .ham-hv div:nth-child(3) {
  animation: header-on2 0.75s ease-in-out forwards;
}

.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 45px;
  height: 45px;
  background-color: #f2db55;
  border-radius: 100%;
  cursor: pointer;
  z-index: 98;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.scroll-top.--active {
  opacity: 1;
  visibility: visible;
}
.scroll-top::before {
  content: "";
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/svg/ic-scrolltop.svg") center no-repeat;
  width: 16px;
  height: 10px;
  filter: brightness(0) invert(1);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

#topic-path {
  padding: 15px 0;
  display: none;
}
#topic-path .topic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#topic-path li {
  font-size: 14px;
  position: relative;
}
#topic-path li::after {
  content: ">";
  font-size: 16px;
  display: inline-block;
  margin: 0 4px;
}
#topic-path a:hover {
  color: #37a168;
}

.main-cl {
  color: #37a168;
}

/*============================= H_E_A_D_E_R =============================*/
#header {
  background: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99;
}
#header h1 {
  color: #666666;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 97px;
  letter-spacing: 0.4px;
  transform: translateX(6px);
  transition: all 0.3s ease;
}
#header .logo {
  transform: translateX(6px);
  transition: all 0.3s ease;
}

.header-main {
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: relative;
}

.menu-list-pc {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 60px;
  letter-spacing: 1px;
}
.menu-list-pc a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.menu-list-pc > li:hover > a,
.menu-list-pc > li:hover > span {
  color: #37a168;
}
.menu-list-pc .--active a {
  color: #37a168;
}

.dropdown-pc {
  position: relative;
}
.dropdown-pc:hover > .sub-menu-pc {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.dropdown-pc span {
  padding: 10px 14px 12px 0;
  padding-right: 14px;
  transition: all 0.3s ease;
}
.dropdown-pc span::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/svg/arrow-down.svg");
  background-size: cover;
  width: 8px;
  height: 4px;
  transition: all 0.3s;
}

.sub-menu-pc {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  width: 100%;
  min-width: 130px;
  background-color: #f2f2f2;
  transition: all 0.3s ease;
  transform: translateY(0);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.sub-menu-pc .sub-menu {
  top: 0;
  left: 100%;
}
.sub-menu-pc li {
  border-bottom: 1px solid #fff;
}
.sub-menu-pc li:last-child {
  border: none;
}
.sub-menu-pc.sbm .mu-tam {
  padding-left: 10px;
  letter-spacing: -1px;
}
.sub-menu-pc.sbm .mu-email {
  padding-left: 6px;
  letter-spacing: -2px;
}
.sub-menu-pc .mu-tam::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent #333333;
  margin-right: 5px;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.sub-menu-pc .mu-email::before {
  content: "";
  display: inline-block;
  background-image: url("../images/svg/ic-email.svg");
  background-size: cover;
  width: 12px;
  height: 8px;
  margin-right: 6px;
  transform: translateY(-1px);
  transition: all 0.3s ease;
}
.sub-menu-pc a,
.sub-menu-pc span {
  padding: 11px 6px 12px 14px;
  display: block;
  font-size: 12px;
  font-weight: 400;
}
.sub-menu-pc a:hover,
.sub-menu-pc span:hover {
  color: #fff;
  background-color: #37a168;
}
.sub-menu-pc a:hover::before,
.sub-menu-pc span:hover::before {
  filter: brightness(0) invert(1);
}
.sub-menu-pc a {
  letter-spacing: 0;
  position: relative;
}

/*============================= F_O_O_T_E_R =============================*/
#footer {
  display: block;
  clear: both;
  text-align: left;
  margin-top: auto;
}
#footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  color: #fff;
  background: #37a168;
  letter-spacing: 1.4px;
}
#footer .footer-top {
  background-color: #f9f9f9;
  padding: 47px 0 98px;
}
#footer .col {
  border-left: 1px #37a168 solid;
}
#footer .col:nth-child(1) {
  width: calc(100% - 458px);
  border: none;
}
#footer .col:nth-child(2) {
  width: 232px;
}
#footer .col:nth-child(3) {
  width: 226px;
}
#footer .col:nth-child(2), #footer .col:nth-child(3) {
  margin-top: 39px;
}
#footer .ft-logo {
  margin-bottom: 38px;
  display: block;
}
#footer .ft-lst li {
  margin-bottom: 9px;
}
#footer .ft-lst li:last-child {
  margin-bottom: 0;
}
#footer .ft-box {
  padding-left: 45px;
}
#footer .ft-tt {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 21px;
  line-height: 1.8;
  letter-spacing: 2px;
}
#footer .ft-list li {
  margin-bottom: 25px;
}
#footer .ft-list li:last-child {
  margin-bottom: 0;
}
#footer .ft-list li:last-child a::before {
  content: "";
  display: inline-block;
  background-image: url("../images/svg/ic-email.svg");
  background-size: cover;
  width: 12px;
  height: 8px;
  margin-right: 5px;
  transform: translate(1px, 0);
}
#footer .ft-list a {
  font-weight: 500;
  position: relative;
  letter-spacing: 1.4px;
}
#footer .ft-list a:hover {
  color: #37a168;
}

/*============================= C_O_N_T_E_N_T =============================*/
.index #mainvisual .visual-wrapper {
  position: relative;
}
.index #mainvisual .visual-head {
  position: absolute;
  top: calc(40% + 2px);
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.index #mainvisual .visual-title {
  font-size: 85px;
  font-weight: 800;
  margin-bottom: 48px;
}
.index #mainvisual .visual-title .fs-small {
  font-size: 62.3529%;
  margin-left: -14px;
}
.index #mainvisual .visual-title .vis-tb {
  padding-left: 52px;
  display: block;
  margin-top: 16px;
}
.index #mainvisual .visual-label {
  display: inline-block;
  font-size: 30px;
  letter-spacing: 4.4px;
  color: #fff;
  background-color: #37a168;
  border-radius: 20px;
  padding: 5px 21px 8px 28px;
  font-weight: bold;
  line-height: 1;
  margin-left: 23px;
}
.index #mainvisual .visual-contact {
  position: absolute;
  bottom: 41px;
  right: calc((100vw - 100%) / -2);
  z-index: 1;
}
.index #mainvisual .visual-contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate(0, 5px);
  border-radius: 100px 0 0 100px;
  background-color: #147546;
}
.index #mainvisual .v-contact-wrap {
  position: relative;
  width: 100%;
  width: 508px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  border-radius: 100px 0 0 100px;
  background-color: #fff;
  z-index: 0;
}
.index #mainvisual .vis-cont-tt {
  font-size: 26px;
  font-weight: bold;
  color: #147546;
  letter-spacing: 1.8px;
  padding-bottom: 10px;
  padding-left: 7px;
  margin-bottom: 7px;
  position: relative;
}
.index #mainvisual .vis-cont-tt::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 202px;
  height: 1px;
  background-color: #cccccc;
}
.index #mainvisual .vis-tell {
  font-weight: bold;
  font-size: 28px;
  position: relative;
  margin-bottom: 13px;
  letter-spacing: 0px;
}
.index #mainvisual .vis-tell::before {
  content: "";
  background-image: url("../images/svg/ic-tell.svg");
  width: 14px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
}
.index #mainvisual .vis-lk {
  width: 224px;
  height: 50px;
  border-radius: 4px;
  background-color: #f2db55;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-5px, -5px);
}
.index #mainvisual .vis-lk::before {
  content: "";
  display: inline-block;
  background-image: url("../images/ic-email3.png");
  filter: brightness(0) invert(0);
  background-size: cover;
  width: 20px;
  height: 14px;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.index #mainvisual .vis-lk span {
  font-size: 18px;
}
.index #mainvisual .vis-lk:hover {
  background-color: #37a168;
  color: #fff;
}
.index #mainvisual .vis-lk:hover::before {
  filter: brightness(0) invert(1);
}
.index #mainvisual .slick-list {
  overflow: visible;
}
.index #mainvisual .slick-active .line-form path {
  animation: home-loader-on0 8s linear forwards;
}
.index #mainvisual .slick-active .line-s path {
  animation: home-loader-on1 1s 8s linear forwards;
}
.index #mainvisual .slick-active .vis-ig {
  animation: slide-on0 2.5s ease-in-out forwards;
}
.index #mainvisual .slick-active .vis-ig div {
  animation: slide-on1 10s linear forwards;
}
.index #mainvisual .slick-active .visual-img::after {
  animation: slide-af1 2.5s ease-in-out forwards;
}
.index #mainvisual .slick-active .pagi-tt {
  animation: slide-on-text0 1s ease-in-out 1s forwards;
}
.index #mainvisual .slick-active .pagi-tt span {
  animation: slide-on-text1 1.25s ease-in-out forwards;
}
.index #mainvisual .vis-nw {
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  height: 100%;
  background-color: #fff;
}
.index #mainvisual .visual-img {
  width: 1003px;
  height: 1003px;
  margin: 0 -35px 0 auto;
  margin-top: -232px;
  position: relative;
  z-index: 0;
}
.index #mainvisual .visual-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(22px, -4px);
  width: 1024px;
  height: 1024px;
  background-image: linear-gradient(to top, #37a168 0%, #00c3ae 100%);
  border-radius: 100%;
  z-index: -1;
  animation: slide-af0 2.5s ease-in-out forwards;
}
.index #mainvisual .visual-img::before {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 61px;
  width: 183px;
  height: 8px;
  background-color: #37a168;
  border-radius: 10px;
  z-index: -1;
}
.index #mainvisual .visual-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.index #mainvisual .visual-img p {
  display: none;
}
.index #mainvisual .visual-img a {
  display: none;
}
.index #mainvisual .vis-ig {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
  animation: slide-off0 2.5s ease-in-out forwards;
  opacity: 0;
}
.index #mainvisual .vis-ig div {
  background-repeat: no-repeat;
  background-position: -311px 17px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.index #mainvisual .slick-dots {
  position: absolute;
  bottom: 100px;
  left: calc(14% + 8px);
  width: auto;
}
.index #mainvisual .slick-dots li {
  width: auto;
  height: auto;
  display: none;
  margin: 0;
}
.index #mainvisual .slick-dots li.slick-active {
  display: block;
}
.index #mainvisual .visual-pagi {
  display: flex;
  position: relative;
  transition: all 0.3s ease;
}
.index #mainvisual .visual-pagi:hover {
  color: #37a168;
}
.index #mainvisual .pagi-line {
  position: absolute;
  top: -17px;
  left: -90px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 100%;
  transform: rotate(107deg);
}
.index #mainvisual .pagi-line div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.index #mainvisual .pagi-line svg, .index #mainvisual .pagi-line path {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.index #mainvisual .pagi-line path {
  stroke-dasharray: 600;
}
.index #mainvisual .line-s path {
  opacity: 0;
  stroke: #e6e6e6;
}
.index #mainvisual .line-shadow path {
  animation: home-loader-off1 1.5s ease-in-out forwards;
}
.index #mainvisual .line-form path {
  animation: home-loader-off0 0.5s ease-in-out forwards;
}
.index #mainvisual .recruit-circle {
  stroke: #37a168;
  background: transparent;
}
.index #mainvisual .pagi-number {
  font-family: "Josefin Sans";
  font-size: 72px;
  line-height: 1;
  position: relative;
  display: flex;
}
.index #mainvisual .pagi-tt {
  padding: 0 0 0 19px;
  opacity: 0;
  animation: slide-off-text0 1s ease-in-out forwards;
}
.index #mainvisual .pagi-tt span {
  display: block;
}
.index #mainvisual .pagi-tt-jp {
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 5px;
  position: relative;
}
.index #mainvisual .pagi-tt-en {
  font-family: "Josefin Sans";
  font-weight: 600;
  font-size: 18px;
  color: #37a168;
  text-align: left;
  margin: 13px 0 0 5px;
  letter-spacing: 0px;
}

.sonic {
  padding: 64px 0 127px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.sonic::after {
  content: "";
  position: absolute;
  top: 233px;
  left: 0;
  height: 100%;
  width: 200vw;
  background-color: #efefef;
  z-index: -1;
}
.sonic::before {
  content: "";
  width: 50%;
  height: 360px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
}
.sonic .sonic-asd {
  position: relative;
  z-index: 0;
}
.sonic .sonic-sld {
  overflow: hidden;
}
.sonic .sonic-slider {
  margin: -30px;
  position: relative;
}
.sonic .sonic-box {
  margin: 30px;
  float: left;
}
.sonic .sonic-box img {
  border-radius: 2px;
  height: auto;
}
.sonic .sonic-txt {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -70px;
}
.sonic .sonic-title {
  position: relative;
  color: #37a168;
  font-family: "Josefin Sans";
  width: calc(100% - 765px);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 32px;
  margin-bottom: 45px;
  z-index: 0;
}
.sonic .sonic-title .sonic-bg {
  font-size: 72px;
  line-height: 1;
  text-transform: uppercase;
}
.sonic .sonic-title .sonic-sm {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.6px;
  margin: 0 17px 16px 0;
  position: relative;
}
.sonic .sonic-title .sonic-sm::before {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 70px;
  width: 100vw;
  height: 3px;
  background-color: #37a168;
  border-radius: 2px;
}
.sonic .sonic-text {
  background-color: #fff;
  padding: 52px 58px;
  box-shadow: 0 0 19px 8px rgba(0, 0, 0, 0.03);
  width: 765px;
  height: 440px;
  z-index: 1;
  position: relative;
}
.sonic .sonic-tt {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 6px;
  letter-spacing: 1px;
}
.sonic .sonic-label {
  font-size: 24px;
  color: #37a168;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-bottom: 13px;
}
.sonic .sonic-desc {
  margin-bottom: 33px;
  line-height: 2;
  letter-spacing: 0.67px;
  padding-left: 5px;
}
.sonic .sonic-lk {
  font-size: 18px;
  margin-left: auto;
  margin-right: 5px;
}

.business {
  position: relative;
  background: url("../images/business-img01.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
}
.business .business-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.business .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}
.business .line::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% + 3px);
  transform: translateX(-50%);
  width: 2px;
  height: 50px;
  background-color: #fff;
  border-radius: 0 2px 2px 0;
}
.business .busi-info {
  width: 50%;
  padding-top: 10px;
  position: relative;
}
.business .busi-title {
  font-size: 60px;
  margin-bottom: 54px;
  text-align: center;
}
.business .busi-title span {
  display: block;
}
.business .busi-title .busi-en {
  font-family: "Josefin Sans";
  text-transform: uppercase;
  margin-bottom: 14px;
  letter-spacing: 1.8px;
}
.business .busi-title .busi-jp {
  font-size: 18px;
  font-weight: bold;
}
.business .busi-desc {
  line-height: 2;
  max-width: 485px;
  margin: 0 auto 73px;
  letter-spacing: 0.3px;
}
.business .busi-txt {
  width: 50%;
  padding: 38px 0 32px 58px;
  position: relative;
  z-index: 0;
  padding-right: calc((100% - 1440px) / 2);
}
.business .busi-txt::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 161, 104, 0.82);
  z-index: -1;
}
.business .btn-w {
  margin: 0 auto;
  transform: translateX(3px);
}
.business .btn-w span {
  font-size: 18px;
  letter-spacing: 0;
}
.business .busi-item {
  padding-bottom: 33px;
  margin-bottom: 36px;
  border-bottom: 1px solid #fff;
  position: relative;
}
.business .busi-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.business .busi-item:hover .busi-tt {
  color: #f2db55;
}
.business .busi-item:hover .busi-icon {
  transform: translate(-10px, 4px);
}
.business .busi-item dt {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.business .busi-item .busi-tt {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  width: 231px;
  transition: all 0.3s ease;
}
.business .busi-item .busi-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  margin-left: 16px;
  transform: translateY(4px);
  transition: all 0.3s ease;
}
.business .busi-item .busi-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/ic-right.png") center no-repeat;
  background-size: cover;
  filter: brightness(0) invert(1);
  width: 18px;
  height: 8px;
}
.business .busi-item dd {
  letter-spacing: 0.4px;
  line-height: 2;
  padding-left: 3px;
}

.feature {
  padding: 110px 0 110px;
  position: relative;
  z-index: 0;
}
.feature::before {
  content: "";
  width: 2px;
  height: 50px;
  border-radius: 1px;
  background-color: #37a168;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.feature::after {
  content: "";
  width: 1760px;
  height: 843px;
  background-color: #efefef;
  position: absolute;
  top: 36.3%;
  left: 0;
  z-index: -1;
}
.feature .feat-bf {
  font-size: 70px;
  font-family: "Josefin Sans";
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 46%;
  left: 14px;
  line-height: 1;
  z-index: 2;
  transform: rotate(-90deg);
}
.feature .feat-bf::before {
  content: "";
  width: 3px;
  max-height: 704px;
  height: 36.7vw;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  right: 6px;
  top: 98px;
}
.feature .feat-bf::after {
  content: "";
  height: 3px;
  width: 699px;
  border-radius: 0 1px 1px 0;
  background-color: #fff;
  position: absolute;
  top: 36%;
  left: 0;
  transform: translate(-107%, -50%);
}
.feature .feature-wrap {
  margin-bottom: 64px;
}
.feature .feat-head {
  text-align: center;
  margin-bottom: 81px;
}
.feature .feat-head span {
  display: block;
}
.feature .feat-en {
  color: #37a168;
  font-size: 60px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
}
.feature .feat-jp {
  font-size: 18px;
  font-weight: bold;
}
.feature .feat-wrp {
  position: relative;
}
.feature .feat-text {
  position: absolute;
  top: 50%;
  right: calc((100vw - 1198px) / 2);
  transform: translateY(-50%);
  z-index: 1;
  background-color: #37a168;
  color: #fff;
  padding: 95px 72px 95px 82px;
  width: 720px;
  height: 440px;
}
.feature .feat-tt {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 23px;
  letter-spacing: 1px;
}
.feature .feat-desc {
  letter-spacing: 0.6px;
  line-height: 2;
}
.feature .feat-box {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background: url("../images/feature-img02.jpg") center no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 60px;
  position: relative;
}
.feature .feat-box:last-child {
  margin-bottom: 0;
}
.feature .feat-box:hover .feat-ts {
  background-color: rgba(255, 255, 255, 0.8);
  color: #37a168;
}
.feature .feat-box:hover .feat-ic {
  border-color: #37a168;
}
.feature .feat-box:hover .feat-ic::before {
  filter: none;
}
.feature .feat-col {
  width: 50%;
}
.feature .feat-ts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(55, 161, 104, 0.8);
  transition: all 0.3s ease;
}
.feature .feat-tx {
  padding: 64px 50px 0;
  display: flex;
}
.feature .feat-tt2 {
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.feature .feat-t {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
}
.feature .feat-ic {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  position: relative;
  margin-right: 50px;
  transform: translate(11px, 0px);
  transition: all 0.3s ease;
}
.feature .feat-ic::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 18px;
  height: 8px;
  background: url("../images/ic-right.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0) invert(1);
  transition: all 0.3s ease;
}
.feature .feat-dsc {
  line-height: 2;
  letter-spacing: 0.1px;
}
.feature .feat-box2 {
  background-image: url("../images/feature-img03.jpg");
}
.feature .feat-box2 .feat-tx {
  padding-top: 89px;
}
.feature .feat-box2 .feat-tt2 {
  transform: translateY(-3px);
}
.feature .feat-box2 .feat-ic {
  transform: translate(2px, -5px);
}
.feature .feat-box2 .feat-t {
  line-height: 2;
}

.recruit {
  margin: 110px auto 200px;
}
.recruit .recruit-wrapper {
  position: relative;
}
.recruit .rec-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  animation: recruit 1.5s;
}
.recruit .rec-ig {
  position: relative;
  float: right;
  z-index: 0;
}
.recruit .rec-ig::before {
  content: "";
  position: absolute;
  top: -60px;
  left: -70px;
  width: 100%;
  height: 100%;
  background-color: #f2db55;
  z-index: -1;
}
.recruit .rec-txt {
  padding: 89px 60px 85px 115px;
  width: 720px;
  height: 763px;
  background-color: #fff;
  position: absolute;
  top: 122px;
  left: calc((100% - 1440px) / 2);
}
.recruit .rec-title {
  font-family: "Josefin Sans";
  text-transform: uppercase;
  margin-bottom: 26px;
}
.recruit .rec-title span {
  display: block;
}
.recruit .rec-title .rec-en {
  font-size: 60px;
  margin-bottom: 19px;
  position: relative;
  letter-spacing: 1px;
  color: #f2db55;
  position: relative;
}
.recruit .rec-title .rec-en::before {
  content: "";
  position: absolute;
  top: 45%;
  left: -15px;
  transform: translate(-100%, -50%);
  width: 340px;
  height: 3px;
  border-radius: 10px;
  background-color: #f2db55;
}
.recruit .rec-title .rec-jp {
  font-size: 19px;
  font-weight: 900;
  padding-left: 5px;
}
.recruit .rec-head {
  margin-bottom: 28px;
}
.recruit .rec-label {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 10px;
}
.recruit .rec-desc {
  line-height: 2;
  letter-spacing: 0.3px;
  margin-bottom: 88px;
  padding-left: 6px;
}
.recruit .rec-list {
  margin: -30px -20px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 5px;
  transform: translateX(7px);
}
.recruit .rec-list li {
  width: 50%;
  padding: 15px 20px;
}
.recruit .rec-list a {
  position: relative;
  display: flex;
  border: 2px solid #f2db55;
  background-color: #fff;
  height: 60px;
}
.recruit .rec-list a:hover .rec-num {
  background-color: #fff;
  color: #f2db55;
}
.recruit .rec-list a:hover .rec-tt {
  background-color: #f2db55;
  color: #fff;
}
.recruit .rec-list a:hover .rec-tt::after {
  filter: brightness(0) invert(1);
  right: 10px;
}
.recruit .rec-num {
  flex-shrink: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2db55;
  width: 46px;
  transition: all 0.3s ease;
}
.recruit .rec-tt {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 46px 0 10px;
  transition: all 0.3s ease;
}
.recruit .rec-tt::after {
  content: "";
  width: 18px;
  height: 8px;
  background: url("../images/ic-right-y.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.recruit .rec-tt span {
  transform: translateX(9px);
}

.information {
  padding: 90px 0 131px;
  border-top: 5px solid #37a168;
}
.information .imn-wrapper {
  width: 1168px;
  max-width: 100%;
  margin: 0 auto;
}
.information .col {
  width: 50%;
}
.information .col:nth-child(1) {
  position: relative;
}
.information .col:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 1px;
  height: 106%;
  border-right: 1px solid #37a168;
}
.information .col:nth-child(1) .imn-title {
  margin-bottom: 40px;
}
.information .col:nth-child(2) .imn-title {
  margin-bottom: 52px;
}
.information .imn-box {
  text-align: center;
}
.information .imn-title span {
  display: block;
}
.information .imn-en {
  font-size: 60px;
  color: #37a168;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: "Josefin Sans";
  line-height: 1;
}
.information .imn-jp {
  font-size: 18px;
  font-weight: bold;
}
.information .imn-tell {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  display: block;
  margin-bottom: 56px;
}
.information .imn-tell::before {
  content: "";
  background: url("../images/svg/ic-tell2.svg") center no-repeat;
  background-size: cover;
  width: 18px;
  height: 25px;
  display: inline-block;
  margin-right: 15px;
}
.information .imn-contact {
  width: 220px;
  height: 60px;
  margin: 0 auto;
  background-color: #37a168;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: 1px solid #37a168;
}
.information .imn-contact span {
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease;
}
.information .imn-contact:hover {
  background-color: #fff;
}
.information .imn-contact:hover span {
  color: #37a168;
}
.information .imn-contact:hover::before {
  filter: none;
}
.information .imn-contact::before {
  content: "";
  display: inline-block;
  background: url("../images/ic-email3.png") center no-repeat;
  background-size: cover;
  margin-right: 15px;
  width: 20px;
  height: 14px;
  filter: brightness(0) invert(1);
}
.information .imn-item {
  margin-bottom: 57px;
}
.information .imn-date {
  margin-bottom: 13px;
  color: #37a168;
}
.information .imn-tt {
  letter-spacing: 0;
  transition: all 0.3s ease;
}
.information .imn-tt:hover {
  color: #37a168;
}
.information .btn {
  margin: 0 auto;
  transform: translateX(-2px);
}

/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */
/*======================= WORDPRESS ADMIN LOGED IN ========================*/
.customize-support #header {
  margin-top: 32px;
}

@media screen and (max-width: 782px) {
  .customize-support #header {
    margin-top: 46px !important;
  }
}
@media screen and (max-width: 600px) {
  .customize-support #header {
    margin-top: 0px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
