@import url(../js/libs/aos/aos.css);
@import url(../js/libs/slick/slick.css);
@import url(../js/libs/slick/slick-theme.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

fieldset,
img {
  border: 0;
}

img,
iframe {
  display: block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  image-rendering: auto;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}

del,
ins {
  text-decoration: none;
}

ol,
ul,
li {
  list-style-type: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

abbr {
  cursor: help;
}

sup {
  vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea,
select {
  font-size: 100%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

th,
td {
  border: 1px solid #999;
  padding: 0.5em;
}

th {
  font-weight: bold;
  text-align: center;
}

caption {
  padding-bottom: 0.5em;
  text-align: right;
}

dfn {
  font-style: normal;
}

address {
  font-style: normal;
  line-height: 1;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
* {
  box-sizing: border-box;
  text-rendering: optimizespeed;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 14px;
  min-height: 100vh;
  transform-origin: all 0.3s;
  min-width: 320px;
}

body,
html {
  min-height: 100%;
  margin: auto;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.4;
  color: #333333;
  background: #fff;
  letter-spacing: 1.4px;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: #37a168;
  border-radius: 990px;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

p:last-child {
  margin-bottom: 0;
}

/*=============================G L O B A L=============================*/
#wrapper {
  min-width: 1280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-full {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.container-1200 {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.cols {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col {
  padding: 15px;
}

.img-w-100 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-h-100 img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.img-l {
  float: left;
  margin: 0 60px 20px 0;
  line-height: 0;
}

.img-r {
  float: right;
  margin: 0 0 20px 60px;
  line-height: 0;
}

.img-c {
  text-align: center;
  margin: 0 auto 33px;
  line-height: 0;
}

.lk-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ovh {
  overflow: hidden;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-overflow-scrolling: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fixedMenu {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showTab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes jelly {
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
@keyframes infin-box {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    background-color: red;
  }
  29% {
    opacity: 1;
    background-color: red;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes header-off1 {
  0% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 0;
    transform: rotate(0);
  }
}
@keyframes header-off2 {
  0% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
}
@keyframes header-on1 {
  0% {
    margin: 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
}
@keyframes header-on2 {
  0% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
}
@keyframes header-off0 {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes header-on0 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes header-button-off0 {
  0% {
    left: 0%;
    opacity: 1;
  }
  65% {
    left: 0%;
    opacity: 1;
  }
  80% {
    left: 100%;
    opacity: 0;
  }
  85% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
.tt-14 {
  font-size: 14px;
}

.tt-12 {
  font-size: 12px;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.f-italic {
  font-style: italic;
}

.f-black {
  font-weight: 900;
}

.f-bold {
  font-weight: bold;
}

.f-medium {
  font-weight: 500;
}

.f-light {
  font-weight: 300;
}

.f-normal {
  font-weight: normal;
}

.mr0 {
  margin-right: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.hamburger-btn {
  width: 70px;
  height: 70px;
  position: relative;
  cursor: pointer;
  z-index: 99;
  border-radius: 100%;
  transition: all 0.3s ease;
}
.hamburger-btn .bar {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #37a168;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger-btn .bar::before, .hamburger-btn .bar::after {
  content: "";
  width: 30px;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 2px;
  background-color: #37a168;
  transition: all 0.3s ease;
}
.hamburger-btn .bar::before {
  top: -8px;
}
.hamburger-btn .bar::after {
  top: 8px;
}
.hamburger-btn.--active .bar {
  background-color: transparent;
}
.hamburger-btn.--active .bar::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger-btn.--active .bar::after {
  top: 0;
  transform: rotate(135deg);
}
.hamburger-btn.ham-off .ham-bg {
  animation: header-off0 375ms ease-in-out forwards;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(1) {
  animation: header-off1 0.75s ease-in-out forwards;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(1) span span {
  animation: header-button-off0 2.5s ease-in-out 0s infinite;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(2) span span {
  animation: header-button-off0 2.5s ease-in-out 0.15s infinite;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(3) {
  animation: header-off2 0.75s ease-in-out forwards;
}
.hamburger-btn.ham-off .ham-hv div:nth-child(3) span span {
  animation: header-button-off0 2.5s ease-in-out 0.3s infinite;
}
.hamburger-btn .ham-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #37a168;
  border-radius: 100%;
  transition: all 0.3s ease;
}
.hamburger-btn .ham-hv {
  display: block;
  width: 34px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -17px;
  animation: fadeIn 375ms ease-in-out 0.1875s forwards;
  opacity: 0;
}
.hamburger-btn .ham-hv div {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hamburger-btn .ham-hv div:nth-child(2) {
  margin: 8px 0 0;
}
.hamburger-btn .ham-hv div:nth-child(3) {
  margin: 16px 0 0;
}
.hamburger-btn .ham-hv div span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.hamburger-btn .ham-hv div span span {
  background: white;
  transition-duration: 375ms;
  transition-timing-function: ease-in-out;
}
.hamburger-btn .ham-hv div > span {
  background-color: rgba(55, 161, 104, 0);
}
.hamburger-btn:hover .ham-hv div:nth-child(2) > span {
  left: 25%;
}
.hamburger-btn.ham-on .ham-bg {
  animation: header-on0 375ms ease-in-out forwards;
}
.hamburger-btn.ham-on .ham-hv {
  opacity: 0;
}
.hamburger-btn.ham-on .ham-hv div > span {
  background-color: #37a168;
}
.hamburger-btn.ham-on .ham-hv div span span {
  background-color: rgba(255, 255, 255, 0);
}
.hamburger-btn.ham-on .ham-hv div:nth-child(1) {
  animation: header-on1 0.75s ease-in-out forwards;
}
.hamburger-btn.ham-on .ham-hv div:nth-child(2) {
  opacity: 0;
}
.hamburger-btn.ham-on .ham-hv div:nth-child(3) {
  animation: header-on2 0.75s ease-in-out forwards;
}

.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 196px;
  width: 45px;
  height: 45px;
  background-color: #f2db55;
  border-radius: 100%;
  cursor: pointer;
  z-index: 98;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.scroll-top.--active {
  opacity: 1;
  visibility: visible;
}
.scroll-top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/svg/ic-scrolltop.svg") center no-repeat;
  width: 16px;
  height: 10px;
  filter: brightness(0) invert(1);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

#topic-path {
  padding: 15px 0;
}
#topic-path .topic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#topic-path li {
  font-size: 14px;
}
#topic-path a:hover {
  color: #37a168;
}

.main-cl {
  color: #37a168;
}

/*============================= H_E_A_D_E_R =============================*/
#header {
  background: #fff;
  width: 100%;
  transition: all 0.3s ease;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
#header h1 {
  color: #666666;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 97px;
  letter-spacing: 0.4px;
}
#header.--fix {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.header-main {
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: relative;
}

.menu-list {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 60px;
  letter-spacing: 1px;
}
.menu-list a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.menu-list .--active a {
  color: #37a168;
}
.menu-list .--active .--active > a {
  background-color: #37a168;
  color: white;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown:hover > a {
  background-color: #37a168;
  color: white;
}
.dropdown span {
  padding: 10px 14px 12px 0;
  padding-right: 14px;
}
.dropdown span::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/svg/arrow-down.svg");
  background-size: cover;
  width: 8px;
  height: 4px;
  transition: all 0.3s;
}

.sub-menu {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  width: 100%;
  min-width: 120px;
  background-color: #f2f2f2;
}
.sub-menu .sub-menu {
  top: 0;
  left: 100%;
}
.sub-menu li {
  border-bottom: 1px solid #fff;
}
.sub-menu li:last-child {
  border: none;
}
.sub-menu.sbm .mu-tam {
  padding-left: 10px;
  letter-spacing: -1px;
}
.sub-menu.sbm .mu-email {
  padding-left: 6px;
  letter-spacing: -2px;
}
.sub-menu .mu-tam::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent #333333;
  margin-right: 5px;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.sub-menu .mu-email::before {
  content: "";
  display: inline-block;
  background-image: url("../../images/svg/ic-email.svg");
  background-size: cover;
  width: 12px;
  height: 8px;
  margin-right: 6px;
  transform: translateY(-1px);
  transition: all 0.3s ease;
}
.sub-menu a,
.sub-menu span {
  padding: 11px 6px 12px 14px;
  display: block;
  font-size: 12px;
  font-weight: 400;
}
.sub-menu a {
  letter-spacing: 0;
  position: relative;
}

/*============================= F_O_O_T_E_R =============================*/
#footer {
  display: block;
  clear: both;
  text-align: left;
  margin-top: auto;
}
#footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  color: #fff;
  background: #37a168;
  letter-spacing: 1.4px;
}
#footer .footer-top {
  background-color: #f9f9f9;
  padding: 47px 0 98px;
}
#footer .col {
  border-left: 1px #37a168 solid;
}
#footer .col:nth-child(1) {
  width: calc(100% - 458px);
  border: none;
}
#footer .col:nth-child(2) {
  width: 232px;
}
#footer .col:nth-child(3) {
  width: 226px;
}
#footer .col:nth-child(2), #footer .col:nth-child(3) {
  margin-top: 39px;
}
#footer .ft-logo {
  margin-bottom: 37px;
  display: block;
}
#footer .ft-lst li {
  margin-bottom: 9px;
}
#footer .ft-lst li:last-child {
  margin-bottom: 0;
}
#footer .ft-box {
  padding-left: 45px;
}
#footer .ft-tt {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 21px;
  line-height: 1.8;
  letter-spacing: 2px;
}
#footer .ft-list li {
  margin-bottom: 25px;
}
#footer .ft-list li:last-child {
  margin-bottom: 0;
}
#footer .ft-list li:last-child a::before {
  content: "";
  display: inline-block;
  background-image: url("../images/svg/ic-email.svg");
  background-size: cover;
  width: 12px;
  height: 8px;
  margin-right: 5px;
  transform: translate(1px, -3px);
}
#footer .ft-list a {
  font-weight: 500;
  position: relative;
  letter-spacing: 1.4px;
}
#footer .ft-list a:hover {
  color: #37a168;
}

/*============================= C_O_N_T_E_N_T =============================*/
#main {
  margin-top: 80px;
  height: 1000px;
}

/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */
/*======================= WORDPRESS ADMIN LOGED IN ========================*/
.customize-support #header {
  margin-top: 32px;
}

@media screen and (max-width: 782px) {
  .customize-support #header {
    margin-top: 46px !important;
  }
}
@media screen and (max-width: 600px) {
  .customize-support #header {
    margin-top: 0px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
