@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes recruit {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes header-off1 {
  0% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 0;
    transform: rotate(0);
  }
}
@keyframes header-off2 {
  0% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
}
@keyframes header-on1 {
  0% {
    margin: 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(-45deg);
  }
}
@keyframes header-on2 {
  0% {
    margin: 16px 0 0;
    transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    transform: rotate(45deg);
  }
}
@keyframes header-off0 {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes header-on0 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes header-button-off0 {
  0% {
    left: 0%;
    opacity: 1;
  }
  65% {
    left: 0%;
    opacity: 1;
  }
  80% {
    left: 100%;
    opacity: 0;
  }
  85% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@keyframes home-loader-off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes home-loader-off1 {
  0% {
    stroke-dashoffset: 600;
    stroke: rgba(255, 255, 255, 0.25);
  }
  50% {
    stroke-dashoffset: 1166;
    stroke: rgba(230, 230, 230, 0.5);
  }
  100% {
    stroke-dashoffset: 1166;
    stroke: #e6e6e6;
  }
}
@keyframes home-loader-on0 {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 1166;
  }
}
@keyframes home-loader-on1 {
  0% {
    stroke-dashoffset: 600;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 1166;
    opacity: 1;
  }
}
@keyframes slide-af0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-af1 {
  0% {
    opacity: 0;
    transform: translate(22px, -4px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(22px, -4px) scale(1);
  }
}
@keyframes slide-off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-on0 {
  0% {
    opacity: 0;
    transform: scale(1.05, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes slide-on1 {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-off-text0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-on-text0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-on-text1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-off-num0 {
  0% {
    transform: translateY(0) rotateX(0);
  }
  100% {
    transform: translateY(-50%) rotateX(90deg);
  }
}
@keyframes slide-on-num0 {
  0% {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
}
@keyframes slide-on-num1 {
  0% {
    color: white;
  }
  100% {
    color: #333333;
  }
}
/*============================= G L O B A L =============================*/
.under section,
.under .section {
  margin-bottom: 60px;
}
.under section:last-child,
.under .section:last-child {
  margin-bottom: 0;
}

.under-visual {
  padding: 0 0 100px;
}
.under-visual .uvisual-wrapper {
  position: relative;
}
.under-visual .uvisual-txt {
  position: absolute;
  top: calc(69% + 1px);
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.under-visual h2 {
  font-size: 60px;
  font-weight: bold;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 5px;
}
.under-visual h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 10px;
  background-color: #37a168;
  border-radius: 10px;
}
.under-visual .upage-title {
  font-size: 24px;
  color: #37a168;
  font-weight: bold;
  font-family: "Josefin Sans";
  text-align: right;
  transform: translateX(-5px);
  letter-spacing: -0.5px;
}
.under-visual .uvisual-ig {
  width: 790px;
  height: 790px;
  margin: -307px -5px 0 auto;
  position: relative;
  z-index: 0;
}
.under-visual .uvisual-ig::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(18px, -5px);
  width: 807px;
  height: 807px;
  background-image: linear-gradient(to top, #37a168 0%, #00c3ae 100%);
  border-radius: 100%;
  z-index: -1;
}
.under-visual .uvis-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/uvisual-img.jpg");
  background-repeat: no-repeat;
  background-position: 78% -122%;
  border-radius: 100%;
}

.under .h3,
.under .h4,
.under .h5,
.under .h6 {
  position: relative;
  line-height: 1.4;
  font-weight: bold;
}
.under .h3 {
  text-align: center;
  margin-bottom: 51px;
}
.under .h3 span {
  display: block;
}
.under .h3 .h3-en {
  font-size: 60px;
  font-weight: 500;
  color: #37a168;
  text-transform: uppercase;
  margin-bottom: 6px;
  letter-spacing: 2px;
}
.under .h3 .h3-jp {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
}
.under .h4 {
  font-size: 36px;
  padding: 24px 0 23px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  letter-spacing: 0;
  margin-bottom: 31px;
  position: relative;
}
.under .h4::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #37a168;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.under .h5 {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  color: #37a168;
  margin-bottom: 27px;
  letter-spacing: 0;
}
.under .h5::before {
  content: "";
  width: 20px;
  height: 5px;
  background-color: #37a168;
  border-radius: 2px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 19px;
  transform: translateY(-2px);
}

.under-tbl.tbl-center th {
  vertical-align: middle;
  text-align: center;
}
.under-tbl.tbl-fix {
  table-layout: fixed;
}
.under-tbl th {
  background-color: #68b48b;
  color: #fff;
  font-weight: normal;
}
.under-tbl td {
  background-color: #efefef;
}
.under-tbl td,
.under-tbl th {
  border-color: #fff;
  vertical-align: top;
  padding: 20px;
  text-align: left;
}

.under-list.ulist-num li {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 0;
}
.under-list.ulist-num li::before {
  display: none;
}
.under-list li {
  position: relative;
  overflow: hidden;
  padding: 0 0 0 16px;
  margin-bottom: 8px;
  text-align: left;
  font-size: 16px;
}
.under-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: #37a168;
}
.under-list li:last-child {
  margin-bottom: 0;
}

.under-frame {
  background-color: rgba(104, 180, 139, 0.4);
  border-radius: 10px;
  border: 2px #68b48b double;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.under-frame::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #68b48b transparent transparent;
}
.under-frame .frm-tt {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}

.under-step dl {
  margin-bottom: 30px;
}
.under-step dl:last-child {
  margin-bottom: 0;
}
.under-step .step-tt {
  background-color: #68b48b;
  padding: 10px 20px;
}
.under-step .step-num {
  background-color: #333;
  padding: 5px 15px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.under-step dd {
  border: 1px solid #68b48b;
  border-top: none;
  background-color: rgba(104, 180, 139, 0.3);
  padding: 15px 20px;
}

.qa-list .qa-item {
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding: 20px;
}
.qa-list .qa-item:last-child {
  margin-bottom: 0;
}
.qa-list dt {
  min-height: 60px;
  padding-left: 60px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px #000 dashed;
}
.qa-list dt .qa-kt {
  top: 5px;
}
.qa-list .qa-kt {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  background-color: orange;
  position: absolute;
  bottom: 0;
  left: 0;
}
.qa-list dd {
  position: relative;
  padding-left: 60px;
  min-height: 40px;
}
.qa-list dd .qa-kt {
  top: 0;
}

.under-clm {
  display: flex;
}
.under-clm.col2 dl {
  width: 50%;
}
.under-clm dl {
  width: 100%;
  border: 1px solid #505050;
}
.under-clm dl:last-child {
  content: "";
  border-left: 0;
}
.under-clm dt {
  background-color: #68b48b;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #505050;
}
.under-clm dd {
  padding: 15px;
}

.under-column {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.under-column.col3 li {
  width: calc(100% / 3);
}
.under-column .u-clm {
  border: 1px solid #333;
}
.under-column .u-clm-head {
  background-color: #37a168;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #333;
  font-size: 16px;
  letter-spacing: 1px;
}
.under-column .u-clm-img {
  border-bottom: 1px solid #333;
  margin-bottom: 0;
  padding: 19px;
}
.under-column .u-clm-desc {
  padding: 10px;
}

.under-pickup {
  background-color: #68b48b;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 60px 0;
}
.under-pickup::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 1160px;
  height: 85%;
  background: #37a168;
  z-index: -1;
}
.under-pickup .pu-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.under-pickup .pu-img {
  float: left;
  margin: 50px 60px 0px 0;
}
.under-pickup h4 {
  display: inline-block;
  margin-bottom: 24px;
}
.under-pickup h4 span {
  display: block;
}
.under-pickup .pu-en {
  font-size: 75px;
  letter-spacing: 0.036em;
  color: #896d40;
  margin-bottom: 27px;
  line-height: 1em;
  display: block;
}
.under-pickup .pu-jp {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1.5em;
}
.under-pickup .pu-desc p {
  letter-spacing: 0.08em;
  line-height: 2.34;
  font-size: 18px;
}

.under-link {
  text-align: center;
  margin: 0 0 200px;
}
.under-link .lk-head {
  margin-bottom: 49px;
}
.under-link .lk-tt {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 23px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.under-link .lk-desc {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.under-anc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.under-anc li {
  margin: 0 24px 20px;
}
.under-anc a {
  background: #37a168;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 365px;
  height: 70px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: -0.5px;
  z-index: 1;
  transition: all 0.3s ease;
  padding: 10px;
  line-height: 1.2;
  text-align: center;
  border: 2px solid #37a168;
}
.under-anc a::after {
  content: "";
  width: 18px;
  height: 8px;
  background-image: url(../images/ic-right.png);
  background-size: cover;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  filter: brightness(0) invert(1);
}
.under-anc a:hover {
  background-color: #fff;
  color: #37a168;
}
.under-anc a:hover::after {
  right: 5px;
}

.main-under #content {
  padding: 11px 0 100px;
  margin: 0 auto;
  width: 1200px;
}
.main-under p:last-child,
.main-under table:last-child {
  margin-bottom: 0;
}
.main-under p {
  margin-bottom: 15px;
  line-height: 2;
  letter-spacing: -0.5px;
}
.main-under a:hover {
  color: #37a168;
}
.main-under .red-cl {
  color: #ff4b4b;
}
.main-under .sech3 {
  position: relative;
  z-index: 0;
  margin-bottom: 100px;
}
.main-under .sech3::before {
  content: "";
  min-width: 1280px;
  width: 100vw;
  height: 440px;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #efefef;
  z-index: -1;
}
.main-under .sech3-text {
  display: flex;
  align-items: center;
}
.main-under .sech3-img {
  flex-shrink: 0;
  margin: 0 60px 0 0;
}
.main-under .sech3-text p {
  transform: translateY(-19px);
}
.main-under .sech .h4 {
  margin-bottom: 20px;
}
.main-under .ulink {
  color: #37a168;
  text-decoration: underline;
}
.main-under .ulink:hover {
  color: #f2db55;
  text-decoration: none;
}

/*============================= Overnote =============================*/
/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */

/*# sourceMappingURL=under.css.map */
