@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fixedMenu {
    0% {
        opacity: 0.7;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showTab {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

//hover button
@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

// infinite box
@keyframes infin-box {

    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        background-color: red;

    }

    29% {
        opacity: 1;
        background-color: red;
    }

    30% {
        opacity: 0;

    }

    100% {
        opacity: 0;
    }
}

@keyframes header-off1 {

    0% {
        margin: 8px 0 0;
        transform: rotate(-45deg);
    }

    50% {
        margin: 8px 0 0;
        transform: rotate(0);
    }

    100% {
        margin: 0;
        transform: rotate(0);
    }
}

@keyframes header-off2 {

    0% {
        margin: 8px 0 0;
        transform: rotate(45deg);
    }

    50% {
        margin: 8px 0 0;
        transform: rotate(0);
    }

    100% {
        margin: 16px 0 0;
        transform: rotate(0);
    }
}

@keyframes header-on1 {

    0% {
        margin: 0;
        transform: rotate(0);
    }

    50% {
        margin: 8px 0 0;
        transform: rotate(0);
    }

    100% {
        margin: 8px 0 0;
        transform: rotate(-45deg);
    }
}

@keyframes header-on2 {
    0% {
        margin: 16px 0 0;
        transform: rotate(0);
    }

    50% {
        margin: 8px 0 0;
        transform: rotate(0);
    }

    100% {
        margin: 8px 0 0;
        transform: rotate(45deg);
    }
}

@keyframes header-off0 {
    0% {
        transform: scale(.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes header-on0 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(.9);
        opacity: 0;
    }
}

@keyframes header-button-off0 {
    0% {
        left: 0%;
        opacity: 1;
    }

    65% {
        left: 0%;
        opacity: 1;
    }

    80% {
        left: 100%;
        opacity: 0;
    }

    85% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}


@keyframes home-loader-off0 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes home-loader-on0 {
    0% {
        stroke-dasharray: 0 300%;
    }

    100% {
        stroke-dasharray: 190% 300% ;
    }
}
