// Colors
$main-cl: #37a168;
$main-cl2: #147546;
$y-cl: #f2db55;
$b-cl: #000;
$w-cl: #fff;

// Font
$fz-cl: #333333;
$fz-base: 10px;
$fz-body: 14px;
$lh-body: 1.4;
$font-body: 'Noto Sans JP', sans-serif;
// $font-body: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;

// Base
$max-width:100%;
$container-full-width: 1920px;
$container-width: 1470px;
$container-width-1200: 1200px;
$padding: 15px;

