
.index {
    #mainvisual {
        .visual-wrapper {
            position: relative;
        }

        .visual-head {
            position: absolute;
            top: calc(40% + 2px);
            left: 0;
            transform: translateY(-50%);
            z-index: 2;
        }

        .visual-title {
            font-size: 85px;
            font-weight: 800;
            margin-bottom: 48px;

            .fs-small {
                font-size: 62.3529%;
                margin-left: -14px;
            }

            .vis-tb {
                padding-left: 52px;
                display: block;
                // transform: translateY(16px);
                margin-top: 16px;
            }
        }

        .visual-label {
            display: inline-block;
            font-size: 30px;
            letter-spacing: 4.4px;
            color: #fff;
            background-color: $main-cl;
            border-radius: 20px;
            padding: 5px 21px 8px 28px;
            font-weight: bold;
            line-height: 1;
            margin-left: 23px;
        }

        .visual-contact {
            position: absolute;
            bottom: 41px;
            right: calc((100vw - 100%) / -2);
            z-index: 1;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transform: translate(0, 5px);
                border-radius: 100px 0 0 100px;
                background-color: $main-cl2;
            }
        }

        .v-contact-wrap {
            position: relative;
            width: 100%;
            width: 508px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 64px;
            border-radius: 100px 0 0 100px;
            background-color: #fff;
            z-index: 0;
        }

        .vis-cont-tt {
            font-size: 26px;
            font-weight: bold;
            color: $main-cl2;
            letter-spacing: 1.8px;
            padding-bottom: 10px;
            padding-left: 7px;
            margin-bottom: 7px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: -20px;
                width: 202px;
                height: 1px;
                background-color: #cccccc;
            }
        }
        .vis-tell {
            font-weight: bold;
            font-size: 28px;
            position: relative;
            margin-bottom: 13px;
            letter-spacing: 0px;
            &::before {
                content: "";
                background-image: url("../images/svg/ic-tell.svg");
                width: 14px;
                height: 20px;
                display: inline-block;
                margin-right: 8px;
            }
        }

        .vis-lk {
            width: 224px;
            height: 50px;
            border-radius: 4px;
            background-color: $y-cl;
            font-weight: 500;
            position: relative;
            @include flex-mid;
            transform: translate(-5px, -5px);
            &::before {
                content: "";
                display: inline-block;
                background-image: url("../images/ic-email3.png");
                filter: brightness(0) invert(0);
                background-size: cover;
                width: 20px;
                height: 14px;
                margin-right: 10px;
                transition: all 0.3s ease;
            }

            span {
                font-size: 18px;
            }

            &:hover {
                background-color: $main-cl;
                color: #fff;
                &::before {
                    filter: brightness(0) invert(1);
                }
            }
        }

        .slick-list {
            overflow: visible;
        }

        .slick-active{
            .vis-ig{
                animation: scale1 6s linear forwards;
            }
        }

        .vis-nw{
            position: relative;
            overflow: hidden;
            border-radius: 100%;
            height: 100%;
           
        }

        .visual-img {
            width: 1003px;
            height: 1003px;
            margin: 0 -35px 0 auto;
            margin-top: -232px;
            position: relative;
            z-index: 0;
            
            &::after {
                content: "";
                @include pos-full;
                transform: translate(22px, -4px);
                width: 1024px;
                height: 1024px;
                background-image: linear-gradient(to top, #37a168 0%, #00c3ae 100%);
                border-radius: 100%;
                z-index: -1;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 15%;
                left: 61px;
                width: 183px;
                height: 8px;
                background-color: $main-cl;
                border-radius: 10px;
                z-index: -1;
            }
            img {
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
            }
            p {
                display: none;
            }
            a {
                display: none;
            }
        }
      
        .vis-ig {
            @include pos-full;
            background-repeat: no-repeat;
            background-position: -311px 17px;
            border-radius: 100%;
        }
        // .slick-list {
        //     z-index: 1;
        // }

        .slick-dots {
            position: absolute;
            bottom: 100px;
            left: calc(14% + 8px);
            width: auto;
            // z-index: 0;
            li {
                width: auto;
                height: auto;
                display: none;
                margin: 0;
                &.slick-active {
                    display: block;

                    .pagi-number svg circle {
                        animation: home-loader-on0 6s linear forwards;
                    }
                }
            }
        }
        .visual-pagi {
            display: flex;
            position: relative;
            transition: all 0.3s ease;

            &:hover {
                color: $main-cl;
            }
        }

        .pagi-number {
            font-family: "Josefin Sans";
            font-size: 72px;
            line-height: 1;
            position: relative;
            svg {
                top: 0;
                left: 0;
                position: absolute;
                width: 170px;
                height: 170px;
                transform: translate(-56%, -13%) rotate(17deg);

                circle {
                    animation: home-loader-off0 0.5s ease-in-out forwards;
                    fill: transparent;
                    stroke-width: 10;
                    stroke-dasharray: 0% 300%;
                }
            }
        }

        .recruit-circle {
            stroke: $main-cl;
            background: transparent;
        }

        .pagi-tt {
            padding: 0 0 0 19px;
            span {
                display: block;
            }
        }

        .pagi-tt-jp {
            font-size: 48px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 5px;
            position: relative;
            // &::after {
            //     content: "";
            //     position: absolute;
            //     top: 67%;
            //     right: -20px;
            //     transform: translate(100%, -50%);
            //     width: 183px;
            //     height: 8px;
            //     background-color: $main-cl;
            //     border-radius: 10px;
            // }
        }

        .pagi-tt-en {
            font-family: "Josefin Sans";
            font-weight: 600;
            font-size: 18px;
            color: $main-cl;
            text-align: left;
            margin: 13px 0 0 5px;
            letter-spacing: 0px;
        }
    }
}

.sonic {
    // margin: 94px 0 100px;
    padding: 64px 0 127px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    &::after {
        content: "";
        position: absolute;
        top: 233px;
        left: 0;
        height: 100%;
        width: 200vw;
        background-color: #efefef;
        z-index: -1;
    }
    &::before {
        content: "";
        width: 50%;
        height: 360px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #fff;
    }
    .sonic-asd {
        position: relative;
        z-index: 0;
    }

    .sonic-sld {
        overflow: hidden;
    }

    .sonic-slider {
        margin: -30px;
        position: relative;
    }

    .sonic-box {
        margin: 30px;
        float: left;
        img {
            border-radius: 2px;
            height: auto;
        }
    }

    .sonic-txt {
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: -70px;
    }

    .sonic-title {
        position: relative;
        color: $main-cl;
        font-family: "Josefin Sans";
        width: calc(100% - 765px);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 32px;
        margin-bottom: 45px;
        z-index: 0;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     left: calc((100vw - 1200px) / -2);
        //     background-color: #efefef;
        //     width: 50vw;
        //     height: 550px;
        //     transform: translate(0, 90%);
        //     z-index: -1;
        // }

        .sonic-bg {
            font-size: 72px;
            line-height: 1;
            text-transform: uppercase;
        }

        .sonic-sm {
            font-weight: 600;
            font-size: 18px;
            line-height: 1;
            letter-spacing: 0.6px;
            margin: 0 17px 16px 0;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 5px;
                right: 70px;
                width: 100vw;
                height: 3px;
                background-color: $main-cl;
                border-radius: 2px;
            }
        }
    }

    .sonic-text {
        background-color: #fff;
        padding: 52px 58px;
        box-shadow: 0 0 19px 8px rgba(0, 0, 0, 0.03);
        width: 765px;
        height: 440px;
        z-index: 1;
        position: relative;
    }

    .sonic-tt {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 6px;
        letter-spacing: 1px;
    }

    .sonic-label {
        font-size: 24px;
        color: $main-cl;
        font-weight: bold;
        letter-spacing: 1.2px;
        margin-bottom: 13px;
    }
    .sonic-desc {
        margin-bottom: 33px;
        line-height: 2;
        letter-spacing: 0.67px;
        padding-left: 5px;
    }
    .sonic-lk {
        font-size: 18px;
        margin-left: auto;
        margin-right: 5px;
    }
}

.business {
    position: relative;
    background: url("../images/business-img01.jpg") center no-repeat;
    background-size: cover;
    color: #fff;

    .business-wrapper {
        display: flex;
        align-items: center;
        position: relative;
    }

    .line {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: calc(50% + 3px);
            transform: translateX(-50%);
            width: 2px;
            height: 50px;
            background-color: #fff;
            border-radius: 0 2px 2px 0;
        }
    }

    .busi-info {
        width: 50%;
        padding-top: 10px;
        position: relative;
    }

    .busi-title {
        font-size: 60px;
        margin-bottom: 54px;
        text-align: center;

        span {
            display: block;
        }

        .busi-en {
            font-family: "Josefin Sans";
            text-transform: uppercase;
            margin-bottom: 14px;
            letter-spacing: 1.8px;
        }

        .busi-jp {
            font-size: 18px;
            font-weight: bold;
        }
    }

    .busi-desc {
        line-height: 2;
        max-width: 485px;
        margin: 0 auto 73px;
        letter-spacing: 0.3px;
    }

    .busi-txt {
        width: 50%;
        padding: 38px 0 32px 58px;
        position: relative;
        z-index: 0;
        padding-right: calc((100% - 1440px) / 2);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $main-cl, $alpha: 0.82);
            z-index: -1;
        }
    }

    .btn-w {
        margin: 0 auto;
        transform: translateX(3px);
        span {
            font-size: 18px;
            letter-spacing: 0;
        }
    }

    .busi-list {
        // margin-right: calc((100vw - 1440px) / 2);
    }

    .busi-item {
        padding-bottom: 33px;
        margin-bottom: 36px;
        border-bottom: 1px solid #fff;
        position: relative;
        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }

        &:hover {
            .busi-tt {
                color: $y-cl;
            }

            .busi-icon {
                transform: translate(-10px, 4px);
            }
        }

        dt {
            display: flex;
            align-items: center;
            margin-bottom: 26px;
        }

        .busi-tt {
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 3px;
            width: 231px;
            transition: all 0.3s ease;
        }

        .busi-icon {
            position: relative;
            width: 40px;
            height: 40px;
            border: 2px solid #fff;
            margin-left: 16px;
            transform: translateY(4px);
            transition: all 0.3s ease;
            &::after {
                content: "";
                @include pos-mid;
                background: url("../images/ic-right.png") center no-repeat;
                background-size: cover;
                filter: brightness(0) invert(1);
                width: 18px;
                height: 8px;
            }
        }

        dd {
            letter-spacing: 0.4px;
            line-height: 2;
            padding-left: 3px;
        }
    }
}

.feature {
    padding: 110px 0 110px;
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        width: 2px;
        height: 50px;
        border-radius: 1px;
        background-color: $main-cl;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        content: "";
        width: 1760px;
        height: 843px;
        background-color: #efefef;
        position: absolute;
        top: 36.3%;
        left: 0;
        z-index: -1;
    }

    .feat-bf {
        font-size: 70px;
        font-family: "Josefin Sans";
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        top: 46%;
        left: 14px;
        line-height: 1;
        z-index: 2;
        transform: rotate(-90deg);

        &::before {
            content: "";
            width: 3px;
            max-height: 704px;
            height: 36.7vw;
            border-radius: 2px;
            background-color: #fff;
            position: absolute;
            right: 6px;
            top: 98px;
        }

        &::after {
            content: "";
            height: 3px;
            width: 699px;
            border-radius: 0 1px 1px 0;
            background-color: #fff;

            position: absolute;
            top: 36%;
            left: 0;
            transform: translate(-107%, -50%);
        }
    }

    .feature-wrap {
        margin-bottom: 64px;
    }

    .feat-head {
        text-align: center;
        margin-bottom: 81px;
        span {
            display: block;
        }
    }

    .feat-en {
        color: $main-cl;
        font-size: 60px;
        margin-bottom: 16px;
        text-transform: uppercase;
        font-family: "Josefin Sans";
    }

    .feat-jp {
        font-size: 18px;
        font-weight: bold;
    }

    .feat-wrp {
        position: relative;
    }

    .feat-text {
        position: absolute;
        top: 50%;
        right: calc((100vw - 1198px) / 2);
        transform: translateY(-50%);
        z-index: 1;
        background-color: $main-cl;
        color: #fff;
        padding: 95px 72px 95px 82px;
        width: 720px;
        height: 440px;
    }

    .feat-tt {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 23px;
        letter-spacing: 1px;
    }
    .feat-desc {
        letter-spacing: 0.6px;
        line-height: 2;
    }

    .feat-box {
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        background: url("../images/feature-img02.jpg") center no-repeat;
        background-size: cover;
        height: 300px;
        margin-bottom: 60px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            .feat-ts {
                background-color: rgba($color: #fff, $alpha: 0.8);
                color: $main-cl;
            }
            .feat-ic {
                border-color: $main-cl;
                &::before {
                    filter: none;
                }
            }
        }
    }

    .feat-col {
        width: 50%;
    }

    .feat-ts {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: $main-cl, $alpha: 0.8);
        transition: all 0.3s ease;
    }

    .feat-tx {
        padding: 64px 50px 0;
        display: flex;
    }

    .feat-tt2 {
        margin-bottom: 0;
        position: relative;
        display: flex;
        align-items: center;
    }

    .feat-t {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.5;
    }

    .feat-ic {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        position: relative;
        margin-right: 50px;
        transform: translate(11px, 0px);
        transition: all 0.3s ease;
        &::before {
            content: "";
            display: inline-block;
            margin-right: 20px;
            width: 18px;
            height: 8px;
            background: url("../images/ic-right.png") center no-repeat;
            background-size: cover;
            @include pos-mid;
            filter: brightness(0) invert(1);
            transition: all 0.3s ease;
        }
    }

    .feat-dsc {
        line-height: 2;
        letter-spacing: 0.1px;
    }

    .feat-box2 {
        background-image: url("../images/feature-img03.jpg");
        .feat-tx {
            padding-top: 89px;
        }

        .feat-tt2 {
            transform: translateY(-3px);
        }

        .feat-ic {
            transform: translate(2px, -5px);
        }

        .feat-t {
            line-height: 2;
        }
    }
}

.recruit {
    margin: 110px auto 200px;
    .recruit-wrapper {
        position: relative;
    }

    .rec-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #fff;
        animation: ani1 1.5s;
    }

    .rec-ig {
        position: relative;
        // height: 782px;
        float: right;
        z-index: 0;
        &::before {
            content: "";
            position: absolute;
            top: -60px;
            left: -70px;
            width: 100%;
            height: 100%;
            background-color: $y-cl;
            z-index: -1;
        }
    }

    .rec-txt {
        padding: 89px 60px 85px 115px;
        width: 720px;
        height: 763px;
        background-color: #fff;
        position: absolute;
        top: 122px;
        left: calc((100% - 1440px) / 2);
    }

    .rec-title {
        font-family: "Josefin Sans";
        text-transform: uppercase;
        margin-bottom: 26px;

        span {
            display: block;
        }

        .rec-en {
            font-size: 60px;
            margin-bottom: 19px;
            position: relative;
            letter-spacing: 1px;
            color: $y-cl;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 45%;
                left: -15px;
                transform: translate(-100%, -50%);
                width: 340px;
                height: 3px;
                border-radius: 10px;
                background-color: $y-cl;
            }
        }

        .rec-jp {
            font-size: 19px;
            font-weight: 900;
            padding-left: 5px;
        }
    }

    .rec-head{
        margin-bottom: 28px;
    }

    .rec-label {
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-left: 10px;
    }

    .rec-desc {
        line-height: 2;
        letter-spacing: 0.3px;
        margin-bottom: 88px;
        padding-left: 6px;
    }

    .rec-list {
        margin: -30px -20px;
        display: flex;
        flex-wrap: wrap;
        padding-right: 5px;
        transform: translateX(7px);
        li {
            width: 50%;
            padding: 15px 20px;
            // &:nth-child(4){
            //     .rec-tt{
            //         transform: translateX(9px);
            //         &::after{
            //             content: '';
            //             right: 29px;
            //         }
            //     }
            // }
        }

        a {
            position: relative;
            display: flex;
            border: 2px solid $y-cl;
            background-color: #fff;
            height: 60px;

            &:hover {
                .rec-num {
                    background-color: #fff;
                    color: $y-cl;
                }

                .rec-tt {
                    background-color: $y-cl;
                    color: #fff;

                    &::after {
                        filter: brightness(0) invert(1);
                        right: 10px;
                    }
                }
            }
        }
    }

    .rec-num {
        flex-shrink: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $y-cl;
        width: 46px;
        transition: all 0.3s ease;
    }

    .rec-tt {
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 46px 0 10px;
        transition: all 0.3s ease;

        &::after {
            content: "";
            width: 18px;
            height: 8px;
            background: url("../images/ic-right-y.png");
            background-size: cover;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            transition: all 0.3s ease;
        }

        span{
            transform: translateX(9px);
        }
    }
}

.information {
    padding: 90px 0 131px;
    border-top: 5px solid $main-cl;
    .imn-wrapper {
        width: 1168px;
        max-width: 100%;
        margin: 0 auto;
    }
    .col {
        width: 50%;

        &:nth-child(1) {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 15px;
                right: 0;
                width: 1px;
                height: 106%;
                border-right: 1px solid $main-cl;
            }
            .imn-title {
                margin-bottom: 40px;
            }
        }

        &:nth-child(2) {
            .imn-title {
                margin-bottom: 52px;
            }
        }
    }

    .imn-box {
        text-align: center;
    }

    .imn-title {
        span {
            display: block;
        }
    }

    .imn-en {
        font-size: 60px;
        color: $main-cl;
        text-transform: uppercase;
        margin-bottom: 12px;
        font-family: "Josefin Sans";
        line-height: 1;
    }

    .imn-jp {
        font-size: 18px;
        font-weight: bold;
    }

    .imn-tell {
        font-size: 30px;
        font-weight: 500;
        position: relative;
        display: block;
        margin-bottom: 56px;
        &::before {
            content: "";
            background: url("../images/svg/ic-tell2.svg") center no-repeat;
            background-size: cover;
            width: 18px;
            height: 25px;
            display: inline-block;
            margin-right: 15px;
        }
    }

    .imn-contact {
        width: 220px;
        height: 60px;
        margin: 0 auto;
        background-color: $main-cl;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        border: 1px solid $main-cl;
        span {
            font-size: 18px;
            color: #fff;
            transition: all 0.3s ease;
        }

        &:hover {
            background-color: #fff;
            span {
                color: $main-cl;
            }
            &::before {
                filter: none;
            }
        }

        &::before {
            content: "";
            display: inline-block;
            background: url("../images/ic-email3.png") center no-repeat;
            background-size: cover;
            margin-right: 15px;
            width: 20px;
            height: 14px;
            filter: brightness(0) invert(1);
        }
    }

    .imn-item {
        margin-bottom: 57px;
    }

    .imn-date {
        margin-bottom: 13px;
        color: $main-cl;
    }

    .imn-tt {
        letter-spacing: 0;
        transition: all 0.3s ease;
        &:hover {
            color: $main-cl;
        }
    }

    .btn {
        margin: 0 auto;
        transform: translateX(-2px);
    }
}
