#topic-path {
    padding: 15px 0;
    // background: #fff;
    display: none;  
    .topic-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    li {
        font-size: 14px;
        position: relative;
        &::after{
            content: '>';
            font-size: 16px;
            display: inline-block;
            margin: 0 4px;
        }
    }

    a { 
        &:hover{
            color: $main-cl;
        }
    }
}
